body {
  font-family: arial, sans-serif;
}
h1 {
  color: gray;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: none;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: darkcyan;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
p {
  text-align: center;
  font-size: x-small;
}
.overview {
  margin-bottom: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid rgb(199, 195, 195);
  padding: 20px;
  border-radius: 5px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.search-form {
  margin-bottom: 30px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  margin-top: 16px;
  opacity: 0.6;
}
.weather-forecast-date {
  font-size: 13px;
}
.weather-forecast-date-min {
  opacity: 0.5;
}
